<div class="page-header">
  <h2> <%= @team.name %></h2>
</div>

<b>Tag: </b><%= @team.tag %>
<br>
<b>Capitão: </b><%= @team.captain %>


<fieldset>
  <legend>Adicionar Jogador</legend>
  <%- if @team.users.count < 6 %>
    <%= form_tag(teams_add_user_path, method: "post") do %>
      <div class="field">
        <%= hidden_field_tag(:team_id, @team.id) %>
        <%= label_tag :user_id, "Jogador: " %>&nbsp;&nbsp;&nbsp;
        <!--Listando os jogadores, menos o capitão-->
        <%= select_tag :user_id, options_for_select(User.all.map{|user| [user.id_steam, user.id] unless user.id_steam == @team.captain }) %>
        &nbsp;&nbsp;&nbsp;
        <%= submit_tag 'Adicionar', class: 'btn btn-success' %>
      </div>
    <% end %>
  <%- else %>
    <p class="text-center">Atingiu o limite máximo de jogadores</p>
  <% end %>
  
</fieldset>

<fieldset>
  <legend>Jogadores</legend>
  <% @team.users.each do |user| %>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Login</th>
          <th>Id_Steam</th>
          <th>Email</th>
        </tr>
      </thead>
      
      <tbody class="text-center">
        <tr>
          <td><%= user.login %></td>
          <td><%= user.id_steam %></td>
          <td><%= user.email %></td>
          <td><%= link_to '', [user.team, user], method: :delete, data: { confirm: 'Você tem certeza?' },class: 'btn btn-default glyphicon glyphicon-trash' %></td>
        <tr>
      </tbody>
    </table>
  <% end %>
</fieldset>

<div class="form-group">
    <br/>
    <%= link_to teams_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
</div>
