<h2>Editar Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <% if current_page?(edit_user_registration_path) %>
    <div class="form-group">
      <%= f.label :login %><br>
      <%= f.text_field :login, :class => "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :id_steam %><br>
      <%= f.text_field :id_steam, :class => "form-control" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, :class => "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, 'Senha' %> <i>(deixe em branco se você não quer mudá-lo)</i><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirmar Senha' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, 'Senha Atual' %> <i>(precisamos de sua senha atual para confirmar as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Triste? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete %></p>

<div class="form-group">
    <br/>
    <%= link_to root_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
</div>

