<% if current_user %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Login:</strong>
    <%= @user.login %>
  </p>

  <p>
    <strong>Id steam:</strong>
    <%= @user.id_steam %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @user.category %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

<% else %>
  <h1> Not logged in <h2>
  <a href="/log-in">Log in</a>

<% end %>