<div class="page-header">
  <%= link_to matches_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_match_path(@match), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show match</h1>
</div>

<dl class="dl-horizontal">
  <dt>Team1:</dt>
  <dd><%= @match.team1.name %></dd>

  <dt>Team2:</dt>
  <dd><%= @match.team2.name %></dd>

  <dt>Date match:</dt>
  <dd><%= @match.date_match %></dd>

  <dt>Link:</dt>
  <dd><%= @match.link %></dd>

</dl>
