<header class="navbar navbar-fixed-top navbar-inverse ">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logo.png", :alt => "logoDotaPBLeague"), root_path, :class => "navbar-brand" %>
      <nav>
        <ul class="nav pull-right navbar-nav ">
          <% if admin_signed_in? %>
            <li>
              <%= link_to('Usuários', users_path ) %>
            </li>
            <li>
              <%= link_to('Tipo de Usuário', categories_path ) %>
            </li>
            <li>
              <%= link_to('Campeonatos', championships_path ) %>
            </li>
            <li>
              <%= link_to('Amistosos', matches_path ) %>
            </li>
            <li>
              <%= link_to('Editar Cadastro', edit_admin_registration_path) %>        
            </li>
            <li>
              <%= link_to('Sair', destroy_admin_session_path, :method => :delete) %>        
            </li>
          <% elsif user_signed_in? %>
            <li>
              <%= link_to('Campeonatos', championships_path ) %>
            </li>
            <li>
              <%= link_to('Amistosos', matches_path ) %>
            </li>
            <li>
              <%= link_to('Equipes', teams_path ) %>
            </li>
            <li>
              <%= link_to('Editar Cadastro', edit_user_registration_path) %>        
            </li>
            <li>
              <%= link_to('Sair', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li>
              <%= link_to('Entrar', new_user_session_path)  %>  
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>